
@font-face {
font-family:"sofia-pro";
src:url("sofia-pro.woff2") format("woff2"),
url("sofia-pro.woff") format("woff"),
url("sofia-pro.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

.tk-sofia-pro { font-family: "sofia-pro",sans-serif; }
